asyncpg==0.24.0                     # Used for working with PostgreSQL databases.
hikari==2.0.0.dev108                # Discord bot framework.
kanata==1.0.1.0                     # Dependency injection framework.
pytz==2021.1                        # Used for working with timezones.
structlog==21.5.0                   # Used for structured logging.
tzlocal==3.0                        # Used for determining the current system timezone.
